Source: sot-openhrp-scripts
Priority: extra
Maintainer: Thomas Moulard <thomas.moulard@gmail.com>
Build-Depends: debhelper (>= 7.0.50~), cmake (>= 2.6),
	       doxygen (>= 1.6.3),
	       pkg-config (>= 0.22),
	       hrp2-10-data (>= 1.0.1),
	       libdg-middleware-dev (>= 1.2.1),
	       libsot-openhrp-dev (>= 1.1.1)
Standards-Version: 3.8.4
#Vcs-Git:
#Vcs-browser:
Section: libs
#Homepage:

Package: sot-openhrp-scripts-hrp2-14
Architecture: all
Depends: debhelper (>= 7.0.50~), cmake (>= 2.6),
	 doxygen (>= 1.6.3),
	 pkg-config (>= 0.22),
         hrp2-14-data (>= 1.7.6),	 
	 libsot-openhrp-dev (>= 1.1.1),  ${shlibs:Depends}, ${misc:Depends}
Description: OpenHRP and dynamic-graph scripts
 Scripts are required to perform high-level tasks when using OpenHRP and
 dynamic-graph.
 This package gathers Python OpenHRP scripts and dynamic-graph scripts.
 It does not contain any compiled data.

Package: sot-openhrp-scripts-hrp2-10
Architecture: all
Depends: debhelper (>= 7.0.50~), cmake (>= 2.6),
	 doxygen (>= 1.6.3),
	 pkg-config (>= 0.22),
	 hrp2-10-data (>= 1.0.1),
	 libdg-middleware-dev (>= 1.2.1)
	 libsot-openhrp-dev (>= 1.1.1),  ${shlibs:Depends}, ${misc:Depends}
Description: OpenHRP and dynamic-graph scripts
 Scripts are required to perform high-level tasks when using OpenHRP and
 dynamic-graph.
 This package gathers Python OpenHRP scripts and dynamic-graph scripts.
 It does not contain any compiled data.
