#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
# export DH_VERBOSE=1
export PKG_CONFIG_PATH=/opt/openrobots/lib/pkgconfig:$PKG_CONFIG_PATH
CFLAGS = -O3 -DNDEBUG
CXXFLAGS = -O3 -DNDEBUG


override_dh_auto_configure:
	if [ "$(findstring sot-openhrp-scripts-hrp2-14,$(shell dh_listpackages))" != "" ] ; then \
		dh_auto_configure -- -DOPENHRP_HOME=/opt/grx3.0 \
		 -DHRP2_SCRIPT_DIR=/opt/grx3.0/HRP2LAAS/script \
		 -DHRP2_CONFIG_DIRECTORY=/opt/openrobots/share/hrp2-14 \
		 -DHRP2_MODEL_DIRECTORY=/opt/grx3.0/HRP2LAAS/model;  \
	fi; \
	if [ "$(findstring sot-openhrp-scripts-hrp2-10,$(shell dh_listpackages))" != "" ] ; then \
		dh_auto_configure -- -DOPENHRP_HOME=/opt/grx3.0 \
		 -DHRP2_SCRIPT_DIR=/opt/grx3.0/HRP2LAAS/script \
		 -DHRP2_CONFIG_DIRECTORY=/opt/openrobots/share/hrp2-10 \
		 -DHRP2_MODEL_DIRECTORY=/opt/grx3.0/HRP2LAAS/model;  \
	fi;


override_dh_shlibdeps:
	export LD_LIBRARY_PATH=\
/opt/openrobots/lib:\
/opt/openrobots/lib/plugin:$(LD_LIBRARY_PATH) \
&& dh_shlibdeps --

%:
	dh  $@
