#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
# export DH_VERBOSE=1

# FIXME: this package is for hrp2-14 ONLY!!!
override_dh_auto_configure:
	dh_auto_configure -- -DOPENHRP_HOME=/opt/OpenHRP-3.0.5 		       \
 -DHRP2_SCRIPT_DIR=/opt/OpenHRP-3.0.5/Controller/IOserver/robot/HRP2JRL/script \
 -DHRP2_CONFIG_DIRECTORY=/usr/share/hrp2_14				       \
 -DHRP2_MODEL_DIRECTORY=/opt/OpenHRP-3.0.5/Controller/IOserver/robot/HRP2JRL/model

%:
	dh  $@
